nav {
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
  
}


#title {
    display: flex;
    font-weight: 600;
    justify-content: left;
}

.container-flex{
    display: flex;
    justify-content: left;
    
}