nav {
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;

}


#title {
    display: flex;
    font-weight: 600;
    justify-content: left;
}

.container-flex {
    display: flex;
    justify-content: space-around;



}

body {
    background: linear-gradient(rgb(52, 143, 217), rgb(148, 5, 5), rgb(183, 183, 209), rgb(31, 21, 219), pink);
    
}  

#card-small {
    height: 150;
    width: 200;

}


#top-card {
    font-size: x-large;
    font-weight: 700;
    font-style: oblique;
}